* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }

h1 {
    font-size: 28px;
    margin: 10px;
    padding-bottom: 20px;
}

textarea {
    width: 300px;
    height: 100px;
    padding: 5px;
    margin: 10px;
    resize: none;
}

.heading {
    color: blue;
    font-size: 18px;
    font-weight: bold;
    margin: 10px;
}

p {
    margin: 10px;
}